.socialLinks {
    height: 40px;
    margin-top: 80px;
}

.socialLinks ul {
    display: flex;
    list-style: none;
}

.socialLinks ul li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-shrink: 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.349);
}

.socialLinks ul li:hover a {
    color: #6e57ff;
}

@media (max-width:320px) {
    .socialLinks {
        display: none;
    }
}