.ContactMeTextPera {
    margin: 20px 0px 30px 0px;
}

.ContactMe {
    padding: 0px 30px;
    height: 500px;
    border-bottom: 2px solid #4444443a;
}

.ContactMeText {
    align-self: flex-start;
    font-size: 45px;
    font-weight: 700;
    font-family: "poppins", "sans-serif";
    color: #444444;
    width: 100%;
    margin: 30px 0px 30px 0px;
}


.boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.addressBox {
    width: 550px;
    height: 315px;
    background-color: #6e57ff;
    box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.349);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.outerEffect2 {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.addressBox:hover .outerEffect2 {
    transform: translateY(100%);
}

.findMe {
    color: #444444;
    z-index: 1;
    font-size: 20px;
}

.email {
    color: #444444;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobileNO {
    color: #444444;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.addressBox:hover .findMe,
.addressBox:hover .iconFindMe,
.addressBox:hover .email,
.addressBox:hover .EmailIcon,
.addressBox:hover .CallIcon,
.addressBox:hover .mobileNO {
    color: white;
}

.ContactBox {
    width: 550px;
    height: 315px;
    background-color: #6e57ff;
    border-radius: 30px;
    padding: 15px;
}

@media (max-width:320px) {
    .ContactMeText {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .ContactMeTextPera {
        font-size: 14px;
        margin-top: 10px;
    }

    .ContactMe {
        height: 800px;
    }

    .boxes {
        gap: 20px;
    }

    .email {
        font-size: 14px;
    }
}