.projectContent {
    padding: 0px 30px;
    height: 800px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.projectText {
    align-self: flex-start;
    font-size: 45px;
    font-weight: 700;
    font-family: "poppins", "sans-serif";
    margin: 30px 0px 30px 0px;
    color: #444444;
    width: 100%;
}

@media (max-width:320px) {
    .projectContent {
        height: 1790px !important;
    }

    .projects {
        gap: 30px;
    }

    .projectText {
        font-size: 24px;
    }
}

@media (max-width:480px) {
    .projectContent {
        height: 2150px;
    }
    
    .projectText {
        font-size: 24px;
    }
}
@media (max-width:768px) {
    .projectContent {
        height: 2150px;
    }
}
@media (max-width:1025px) {
    .projectContent {
        height: 1150px;
    }
}