.aboutContent {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutText {
    align-self: flex-start;
    font-size: 45px;
    font-weight: 700;
    font-family: "poppins", "sans-serif";
    color: #444444;
    margin: 30px 0px 30px 0px;
    width: 100%;

}

.boxesAbout {
    display: flex;
    height: 280px;
    width: 100%;
    position: absolute;
    /* border: 5px solid; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

@media (max-width:320px) {
    .AboutText {
        font-size: 24px;
    }

    .aboutContent {
        align-items: start;
        height: 870px;
    }

    .boxesAbout {
        height: 750px;
    }
}